@model Movie

    <div class="card mb-3 " >
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="~/img/@Model.ImageUrl" class="card-img" alt="@Model.Description">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <div>
                        <a class=" btn btn-success" asp-Controller ="Movies"asp-action ="Details" asp-route-id="@Model.MovieId">details</a>
                        <a class=" btn btn-secondary" asp-Controller ="Movies"asp-action ="Edit" asp-route-id="@Model.MovieId">edit</a>
                        
                        <form asp-controller="Movies" asp-action="Delete" method="post" style=" display:inline">
                            <input type="hidden" name="MovieId" value="@Model.MovieId" />
                            <button type="submit" class=" btn btn-danger"> Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

